<!--个人中心-->
<ion-view view-title="Apple产品专区" has-header="true" hide-nav-bar="true" cache-view="false">
    <ion-header-bar class="bar bar-header item-input-inset ">
        <button class="button icon ion-ios-arrow-left button-clear" ng-click="headerGoHome();"></button>
        <h1 class="h1 title">活动</h1>
        <!--ng-click="goToPersonalData();"-->
        <!--<button class="button icon button-clear" >-->
        <!--<img src="img/settings.png" class="header-phone">-->
        <!--</button>-->
    </ion-header-bar>
    <ion-content class="has-tabs">
        <div class="active-center" style="background-color: #f8f8f8;">
            <!--<div class="active-list decemberActiveDetail">
                <div class="active-text">
                    双12活动
                    <div class="active-text-right"></div>
                    &lt;!&ndash; <i class="icon-chevron-thin-right iconRight"></i> &ndash;&gt;
                </div>
                <img class="active-list-img" src="/img/action/decemberForList.jpg" alt="">
            </div>-->
            <!--<div class="active-list blackFridayDetail">
                <div class="active-text">
                    黑五活动
                    <div class="active-text-right"></div>
                </div>
                <img class="active-list-img" src="/img/action/blackFridayForList.jpg" alt="">
            </div>
            <div class="active-list thanksgivingDayDetail">
                <div class="active-text">
                    感恩节活动
                    <div class="active-text-right"></div>
                </div>
                <img class="active-list-img" src="/img/action/thanksgivingForList.jpg" alt="">
            </div>-->
            <!--        <div class="active-list christmasBoxIndex">
                <div class="active-text">
                    双旦礼盒活动
                    <div class="active-text-right"></div>
                    <i class="icon-chevron-thin-right iconRight"></i>
                </div>
                <img class="active-list-img" src="/img/action/christmas/christmasBoxIndex.jpg" alt="">
            </div> -->
            <!-- <div class="active-list christmasIntegral">
                <div class="active-text">
                    双旦积分活动
                    <div class="active-text-right"></div>
                    <i class="icon-chevron-thin-right iconRight"></i>
                </div>
                <img class="active-list-img" src="/img/action/christmas/christmasIntegral.jpg" alt="">
            </div> -->
            <!-- <div class="active-list beatsActivity">
                <div class="active-text">
                    Beats活动
                    <div class="active-text-right"></div> -->
            <!-- <i class="icon-chevron-thin-right iconRight"></i> -->
            <!-- </div>
                <img class="active-list-img" src="/img/action/beatsActivity/list.jpg" alt="">
            </div> -->
            <!-- <div class="active-list newYearActivity">
                <div class="active-text">
                    新春活动
                    <div class="active-text-right"></div> -->
            <!-- <i class="icon-chevron-thin-right iconRight"></i> -->
            <!-- </div>
                <img class="active-list-img" src="/img/action/newYearActivity/81613396262665601.jpg" alt="">
            </div>
            <div class="active-list valentineActivity">
                <div class="active-text">
                    情人节活动
                    <div class="active-text-right"></div> -->
            <!-- <i class="icon-chevron-thin-right iconRight"></i> -->
            <!-- </div>
                <img class="active-list-img" src="/img/action/valentineActivity/list.jpg" alt="">
            </div> -->
            <!--  <div class="active-list workDayActivity">
                 <div class="active-text">
                     开工季活动
                     <div class="active-text-right"></div>
                     <i class="icon-chevron-thin-right iconRight"></i>
                </div>
                <img class="active-list-img" src="/img/action/workDayActivity/357935152758970317.jpg" alt="">
            </div>-->
            <!--<div class="active-list girlDayActivity">
                <div class="active-text">
                    女生节活动
                    <div class="active-text-right"></div>

                </div>
                <img class="active-list-img" src="/img/action//683562106858171196.jpg" alt="">
            </div>-->
            <div class="active-list twentyFourActivity">
                <div class="active-text">
                    24期活动
                    <div class="active-text-right"></div>
                    <!-- <i class="icon-chevron-thin-right iconRight"></i> -->
                </div>
                <img class="active-list-img" src="/img/action/twentyFourActivity/tf.jpg" alt="">
            </div>
            <div class="active-list twentyFourActivity">
                <div class="active-text">
                    iphone-x活动
                    <div class="active-text-right"></div>
                    <!-- <i class="icon-chevron-thin-right iconRight"></i> -->
                </div>
                <img class="active-list-img" src="/img/action/twentyFourActivity/phonex.jpg" alt="">
            </div>
            <!--  <div class="active-list actualGoods">
                <div class="active-text">
                    现货抢购
                    <div class="active-text-right"></div>
                    &lt;!&ndash; <i class="icon-chevron-thin-right iconRight"></i> &ndash;&gt;
                </div>
                <img class="active-list-img" src="/img/action/actualGoodsGuideForList.jpg" alt="">
            </div>-->
            <!--<div class="active-list integralChangePhoneDetail">
                <div class="active-text">
                    积分换机
                    <div class="active-text-right"></div>
                </div>
                <img class="active-list-img" src="/img/action/integralChangePhoneForList.jpg" alt="">
            </div>-->
            <!-- <div class="active-list detail">
     <div class="active-text">
       苹果半价购机
       <i class="icon-chevron-thin-right iconRight"></i>
     </div>
     <img class="active-list-img" src="/img/bjgj.jpg" alt="">
   </div>
             <div class="active-list discount" ">
     <div class="active-text">
       折上折
       <i class="icon-chevron-thin-right iconRight"></i>
     </div>
     <img class="active-list-img" src="/img/action/discount/discountGuide.jpg" alt="">
   </div>
   <div class="active-list ac04">
     <div class="active-text">
       积分兑换
       <i class="icon-chevron-thin-right iconRight"></i>
     </div>
     <img class="active-list-img" src="/img/ac04.jpg" alt="">
   </div>

   <div class="active-list iphonex" >
     <div class="active-text">
       新品首发
       <i class="icon-chevron-thin-right iconRight"></i>
     </div>
     <img class="active-list-img" src="/img/action/iphonex.jpg" alt="">
   </div>-->
            <!-- <div class="active-list ac03" >
    <div class="active-text">
      爆款商品
      <i class="icon-chevron-thin-right iconRight"></i>
    </div>
    <img class="active-list-img" src="/img/ac03.jpg" alt="">
  </div>
  <div class="active-list ac01">
    <div class="active-text">
      领取优惠券
      <i class="icon-chevron-thin-right iconRight"></i>
    </div>
    <img class="active-list-img" src="/img/ac01.jpg" alt="">
  </div> -->
            <!--<div class="active-list coupon">-->
            <!--<div class="active-text">-->
            <!--领取优惠券-->
            <!--<i class="icon-chevron-thin-right iconRight"></i>-->
            <!--</div>-->
            <!--<img class="active-list-img" src="/img/huodong2.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="active-list">-->
            <!--<div class="active-text">-->
            <!--某某品牌某某活动-->
            <!--<i class="icon-chevron-thin-right iconRight"></i>-->
            <!--</div>-->
            <!--<img class="active-list-img" src="../resources/img/common/list (3).png" alt="">-->
            <!--</div>-->
            <!--<div class="active-list">-->
            <!--<div class="active-text">-->
            <!--某某品牌某某活动-->
            <!--<i class="icon-chevron-thin-right iconRight"></i>-->
            <!--</div>-->
            <!--<img class="active-list-img" src="../resources/img/common/list (2).png" alt="">-->
            <!--</div>-->
            <!--<div class="active-list">-->
            <!--<div class="active-text">-->
            <!--某某品牌某某活动-->
            <!--<i class="icon-chevron-thin-right iconRight"></i>-->
            <!--</div>-->
            <!--<img class="active-list-img" src="../resources/img/common/list (3).png" alt="">-->
            <!--</div>-->
            <!--<div class="active-list">-->
            <!--<div class="active-text">-->
            <!--某某品牌某某活动-->
            <!--<i class="icon-chevron-thin-right iconRight"></i>-->
            <!--</div>-->
            <!--<img class="active-list-img" src="../resources/img/common/list (2).png" alt="">-->
            <!--</div>-->
            <!--<div class="active-list">-->
            <!--<div class="active-text">-->
            <!--某某品牌某某活动-->
            <!--<i class="icon-chevron-thin-right iconRight"></i>-->
            <!--</div>-->
            <!--<img class="active-list-img" src="../resources/img/common/list (3).png" alt="">-->
            <!--</div>-->
            <!--<div class="active-list">-->
            <!--<div class="active-text">-->
            <!--某某品牌某某活动-->
            <!--<i class="icon-chevron-thin-right iconRight"></i>-->
            <!--</div>-->
            <!--<img class="active-list-img" src="../resources/img/common/list (2).png" alt="">-->
            <!--</div>-->
        </div>
    </ion-content>
    <!-- 底部-->
    <ion-footer-bar class="padding-0 htwins-tabs " ng-controller="footerController">
        <div class="htwins-tabs">
            <div class="htwins-tabs-div" ui-sref="home" nav-transition="none">
                <div class="htwins-tabs-div-img">
                    <img src="img/tab-index-off.png">
                </div>
                <span class="color-black-3">首页</span>
            </div>
            <div class="htwins-tabs-div" ui-sref="category" nav-transition="none">
                <div class="htwins-tabs-div-img">
                    <img src="img/tab-product-off.png">
                </div>
                <span class="color-black-3">分类</span>
            </div>
            <div class="htwins-tabs-div" ui-sref="active" nav-transition="none">
                <div class="htwins-tabs-div-img">
                    <div ng-if="massage.messageCount > 0">
                        <label class="message-badge maker-mine-message-badge" ng-bind="massage.messageCount"></label>
                    </div>
                    <img src="img/tab-msg-on.png" class="position-r">
                </div>
                <span class="color-red">活动</span>
            </div>
            <div class="htwins-tabs-div" ng-click="goToShoppingCart()" nav-transition="none">
                <div class="htwins-tabs-div-img">
                    <div ng-if="shopCar.goodsCount > 0">
                        <label class="message-badge maker-mine-shopCar-badge" ng-bind="shopCar.goodsCount"></label>
                    </div>
                    <img src="img/tab-car-off.png" class="position-r">
                </div>
                <span class="color-black-3">购物车</span>
            </div>
            <div class="htwins-tabs-div" ui-sref="mine" nav-transition="none">
                <div class="htwins-tabs-div-img">
                    <img src="img/tab-mine-off.png">
                </div>
                <span class="color-black-3">我的</span>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>