<!DOCTYPE html>
<html lang="en">
<head>
	<title>618</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="/assets/lib.css">
	<link rel="stylesheet" type="text/css" href="/fonts/iconfont/iconfont.css">
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<style>
		.c_float{
			position: fixed;
			display: none;
			margin-top: 100px;
			width: 100%;
		}
	</style>
</head>
<body>
<div><img src="#" class="c_float" id="float"></div>
<div class="nav-bar">
	<div class="nav-menu">
		<a href="javascript:void(0);" class="iconfont icon-back icon-chevron-thin-left" id="backapp"></a>
		<ul class="tab-list-nav">
			<li class="active">
				<p>618</p>
			</li>
		</ul>
	</div>
</div>
<!-- Save for Web Slices (618.psd) -->
<table>
	<tr>
		<td colspan="2">
			<img src="/img/618/618_01.jpg" width="100%"  alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/img/618/618_02.jpg" width="100%"  alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/img/618/618_03.jpg" width="100%"  alt=""></td>
	</tr>
	<tr>
		<td>
			<img data-coupon-name="100元红包" data-coupon-id="100new" class="coupon" src="/img/618/618_04.jpg" width="100%"  alt=""></td>
		<td>
			<img data-coupon-name="200元红包" data-coupon-id="200new" class="coupon" src="/img/618/618_05.jpg" width="100%"  alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/img/618/618_06.jpg" width="100%"  alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=1&mine=mine">
				<img src="/img/618/618_07.jpg"width="100%"  border="0" alt=""></a></td>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=2&mine=mine">
				<img src="/img/618/618_08.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=33&mine=mine">
				<img src="/img/618/618_09.jpg" width="100%"  border="0" alt=""></a></td>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=59&mine=mine">
				<img src="/img/618/618_10.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/img/618/618_11.jpg" width="100%"  alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=10&mine=mine">
				<img src="/img/618/618_12.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=35&mine=mine">
				<img src="/img/618/618_13.jpg" width="100%"  border="0" alt=""></a></td>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=13&mine=mine">
				<img src="/img/618/618_14.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/img/618/618_15.jpg" width="100%"  alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=4&mine=mine">
				<img src="/img/618/618_16.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=6&mine=mine">
				<img src="/img/618/618_17.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=3&mine=mine">
				<img src="/img/618/618_18.jpg" width="100%"  border="0" alt=""></a></td>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=43&mine=mine">
				<img src="/img/618/618_19.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=3&mine=mine">
				<img src="/img/618/618_20.jpg"width="100%"  border="0" alt=""></a></td>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=5&mine=mine">
				<img src="/img/618/618_21.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/img/618/618_22.jpg" width="100%"  alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=70&mine=mine">
				<img src="/img/618/618_23.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=70&mine=mine">
				<img src="/img/618/618_24.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=72&mine=mine">
				<img src="/img/618/618_25.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=72&mine=mine">
				<img src="/img/618/618_26.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=69&mine=mine">
				<img src="/img/618/618_27.jpg" width="100%"  border="0" alt=""></a></td>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=68&mine=mine">
				<img src="/img/618/618_28.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/img/618/618_29.jpg" width="100%"  alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=99&mine=mine">
				<img src="/img/618/618_30.jpg" width="100%"  border="0" alt=""></a></td>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=100&mine=mine">
				<img src="/img/618/618_31.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=101&mine=mine">
				<img src="/img/618/618_32.jpg" width="100%"  border="0" alt=""></a></td>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=103&mine=mine">
				<img src="/img/618/618_33.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/img/618/618_34.jpg" width="100%"  alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=107&mine=mine">
				<img src="/img/618/618_35.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=104&mine=mine">
				<img src="/img/618/618_36.jpg" width="100%"  border="0" alt=""></a></td>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=105&mine=mine">
				<img src="/img/618/618_37.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=108&mine=mine">
				<img src="/img/618/618_38.jpg" width="100%"  border="0" alt=""></a></td>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=109&mine=mine">
				<img src="/img/618/618_39.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/img/618/618_40.jpg" width="100%"  alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=102&mine=mine">
				<img src="/img/618/618_41.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=77&mine=mine">
				<img src="/img/618/618_42.jpg" width="100%"  border="0" alt=""></a></td>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=71&mine=mine">
				<img src="/img/618/618_43.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=74&mine=mine">
				<img src="/img/618/618_44.jpg" width="100%"  border="0" alt=""></a></td>
		<td>
			<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=75&mine=mine">
				<img src="/img/618/618_45.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/img/618/618_46.jpg" width="100%"  alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="#">
				<img src="/img/618/618_47.jpg" width="100%"  border="0" alt=""></a></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
<script type="text/javascript" src="/assets/jquery-1.8.3.js"></script>
<script type="text/javascript" src="/assets/hybrid_app.js"></script>
<script type="text/javascript" src="/assets/common.js"></script>
<script type="text/javascript" src="/assets/b64_hmac_sha1.js"></script>
<script type="text/javascript" src="/assets/ajax.js"></script>
<script>
    $(function () {
        var getCouponApi = 'v1/coupon/get-coupon-code';
        var paramDic = getUrlString();
        var user_id = paramDic["user_id"];
        var token = paramDic["token"];
        var float = document.getElementById("float");
        var back = document.getElementById("backapp");
        var type = paramDic["type"];
        // 原生返回
        back.onclick = function () {
            window.location.href='/#/home';
        };
        $(".coupon").click(function () {
            if (user_id != undefined && token != undefined){
                var coupon_name = $(this).attr('data-coupon-name');
                var coupon_id = $(this).attr('data-coupon-id');
                var urlHeader = ajaxLink + getCouponApi;
                var dataParam;
                dataParam = "user_id="+user_id+"&token="+token+"&coupon_name="+coupon_name;
                //成功后执行的方法
                function sucGetOrderSub(response) {
                    if(response.ret == 0 && response.data.code !=''){
                        float.src="/img/discounts/"+coupon_id+".png";
                        float.style.display="block";
                    }else if(response.ret == 0 && response.data.code ==''){
                        float.src="/img/discounts/no_coupon.png";
                        float.style.display="block";
                    }else{
                        errorToken();
                    }
                }
                ajaxWithHeader(urlHeader, dataParam, sucGetOrderSub,'POST');
            }else{
                errorToken();
            }
        })

        $('#float').click(function () {
            $(this).hide();
            //window.location.href='/#/home';
        })
    })
</script>
</html>