<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>秒杀活动</title>
	<style>
		body {
			padding: 0;
			margin: 0;
		}
		
		.w50 {
			float: left;
			width: 50%;
		}
		.w100 {
			width: 100%;
		}
	</style>
</head>
<body>
	<div><a><img class="w100" src="https://xs-img.oss-cn-qingdao.aliyuncs.com/seckill/APP-P20_01.jpg"></a></div>
	<div>
		<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=1&mine=mine">
		<img class="w100" src="https://xs-img.oss-cn-qingdao.aliyuncs.com/seckill/APP-P20_02.jpg"></a></div>
	<div><a><img class="w100" src="https://xs-img.oss-cn-qingdao.aliyuncs.com/seckill/APP-P20_03.jpg"></a></div>

	<div><a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=40&mine=mine">
		<img class="w100" src="https://xs-img.oss-cn-qingdao.aliyuncs.com/seckill/APP-P20_04.jpg"></a>
	</div>

	<div>
		<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=4&mine=mine">
		<img class="w50" src="https://xs-img.oss-cn-qingdao.aliyuncs.com/seckill/APP-P20_06.jpg">
		</a>

		<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=38&mine=mine">
			<img class="w50" src="https://xs-img.oss-cn-qingdao.aliyuncs.com/seckill/APP-P20_07.jpg">
		</a>
	</div>
	<div>
		<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=33&mine=mine">
			<img class="w50" src="https://xs-img.oss-cn-qingdao.aliyuncs.com/seckill/APP-P20_08.jpg">
		</a>
		<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=6&mine=mine">
			<img class="w50" src="https://xs-img.oss-cn-qingdao.aliyuncs.com/seckill/APP-P20_09.jpg">
		</a>
	</div>
	
	<div>
		<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=42&mine=mine">
			<img class="w50" src="https://xs-img.oss-cn-qingdao.aliyuncs.com/seckill/APP-P20_10.jpg">
		</a>
		<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=5&mine=mine">
			<img class="w50" src="https://xs-img.oss-cn-qingdao.aliyuncs.com/seckill/APP-P20_11.jpg">
		</a>
	</div>
	<div>
		<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=8&mine=mine">
			<img class="w50" src="https://xs-img.oss-cn-qingdao.aliyuncs.com/seckill/APP-P20_12.jpg">
		</a>
		<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=41&mine=mine">
			<img class="w50" src="https://xs-img.oss-cn-qingdao.aliyuncs.com/seckill/APP-P20_13.jpg">
		</a>
	</div>
<!-- 	<div>
		<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=8&mine=mine">
			<img class="w50" src="https://xs-img.oss-cn-qingdao.aliyuncs.com/seckill/APP-P20_14.jpg">
		</a>
		<a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=41&mine=mine">
			<img class="w50" src="https://xs-img.oss-cn-qingdao.aliyuncs.com/seckill/APP-P20_15.jpg">
		</a>
	</div> -->
	<div><a><img class="w100" src="https://xs-img.oss-cn-qingdao.aliyuncs.com/seckill/APP-P20_14.jpg"></a></div>
</body>
</html>
