<!DOCTYPE html>
<html lang="en">
<head>
    <title>e生活周年庆</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/assets/lib.css">
    <link rel="stylesheet" type="text/css" href="/fonts/iconfont/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <style>
        .c_float{
            position: fixed;
            display: none;
            margin-top: 100px;
            width: 100%;
        }
    </style>
</head>
<body style=" bgcolor:#FFFFFF; margin:0 auto; padding: 0; max-width:750px">
<div><img src="#" class="c_float" id="float"></div>
<div class="nav-bar">
    <div class="nav-menu">
        <a href="javascript:void(0);" class="iconfont icon-back icon-chevron-thin-left" id="backapp"></a>
        <ul class="tab-list-nav">
            <li class="active">
                <p>e生活周年庆</p>
            </li>
        </ul>
    </div>
</div>
<!-- Save for Web Slices (618.psd) -->
<table>
    <!-- 海报 -->
    <tr>
        <td colspan="2">
            <img src="/img/tercentenary/1_01.jpg" width="100%"  alt=""></td>
    </tr>

    <!-- 新品 -->
    <tr>
        <td colspan="2">
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=134&mine=mine">
                <img src="/img/tercentenary/1_02.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <tr>
        <td colspan="2">
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=1&mine=mine">
                <img src="/img/tercentenary/1_03.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <tr>
        <td colspan="2">
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=4&mine=mine">
                <img src="/img/tercentenary/1_04.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <tr>
        <td colspan="2">
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=114&mine=mine">
                <img src="/img/tercentenary/1_05.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <tr>
        <td>
            <a href=" https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=129&mine=mine">
                <img src="/img/tercentenary/1_06.jpg" width="100%"  border="0" alt=""></a></td>
        <td>
            <a href=" https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=130&mine=mine">
                <img src="/img/tercentenary/1_07.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <!-- 爆款 -->
    <tr>
        <td colspan="2">
            <img src="/img/tercentenary/1_08.jpg" width="100%"  alt=""></td>
    </tr>

    <tr>
        <td colspan="2">
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=33&mine=mine">
                <img src="/img/tercentenary/1_09.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <tr>
        <td colspan="2">
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=59&mine=mine">
                <img src="/img/tercentenary/1_10.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <tr>
        <td colspan="2">
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=2&mine=mine">
                <img src="/img/tercentenary/1_11.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <tr>
        <td colspan="2">
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=6&mine=mine">
                <img src="/img/tercentenary/1_12.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <!-- 畅享 -->
    <tr>
        <td colspan="2">
            <img src="/img/tercentenary/1_13.jpg" width="100%"  alt=""></td>
    </tr>

    <tr>
        <td colspan="2">
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=3&mine=mine">
                <img src="/img/tercentenary/1_14.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <tr>
        <td colspan="2">
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=3&mine=mine">
                <img src="/img/tercentenary/1_15.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <tr>
        <td>
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=43&mine=mine">
                <img src="/img/tercentenary/1_16.jpg" width="100%"  border="0" alt=""></a></td>
        <td>
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=128&mine=mine">
                <img src="/img/tercentenary/1_17.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <!--无人机 -->
    <tr>
        <td colspan="2">
            <img src="/img/tercentenary/1_18.jpg" width="100%"  alt=""></td>
    </tr>

    <tr>
        <td colspan="2">
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=70&mine=mine">
                <img src="/img/tercentenary/1_19.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <tr>
        <td colspan="2">
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=72&mine=mine">
                <img src="/img/tercentenary/1_20.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <tr>
        <td>
            <a href=" https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=69&mine=mine">
                <img src="/img/tercentenary/1_21.jpg" width="100%"  border="0" alt=""></a></td>
        <td>
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=68&mine=mine">
                <img src="/img/tercentenary/1_22.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <!--音频 -->
    <!-- bose -->
    <tr>
        <td colspan="2">
            <img src="/img/tercentenary/1_23.jpg" width="100%"  alt=""></td>
    </tr>

    <tr>
        <td colspan="2">
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=99&mine=mine">
                <img src="/img/tercentenary/1_24.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <tr>
        <td colspan="2">
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=100&mine=mine">
                <img src="/img/tercentenary/1_25.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <tr>
        <td>
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=101&mine=mine">
                <img src="/img/tercentenary/1_26.jpg" width="100%"  border="0" alt=""></a></td>
        <td>
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=103&mine=mine">
                <img src="/img/tercentenary/1_27.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>
    <!-- b&o play -->

    <tr>
        <td colspan="2">
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=104&mine=mine">
                <img src="/img/tercentenary/1_28.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <tr>
        <td colspan="2">
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=105&mine=mine">
                <img src="/img/tercentenary/1_29.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <tr>
        <td colspan="2">
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=107&mine=mine">
                <img src="/img/tercentenary/1_30.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <tr>
        <td>
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=108&mine=mine">
                <img src="/img/tercentenary/1_31.jpg" width="100%"  border="0" alt=""></a></td>
        <td>
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=109&mine=mine">
                <img src="/img/tercentenary/1_32.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <!-- JBL -->

    <tr>
        <td colspan="2">
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=77&mine=mine">
                <img src="/img/tercentenary/1_33.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <tr>
        <td colspan="2">
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=71&mine=mine">
                <img src="/img/tercentenary/1_34.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <tr>
        <td colspan="2">
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=74&mine=mine">
                <img src="/img/tercentenary/1_35.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <tr>
        <td>
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=75&mine=mine">
                <img src="/img/tercentenary/1_36.jpg" width="100%"  border="0" alt=""></a></td>
        <td>
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=102&mine=mine">
                <img src="/img/tercentenary/1_37.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <tr>
        <td>
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=76&mine=mine">
                <img src="/img/tercentenary/1_38.jpg" width="100%"  border="0" alt=""></a></td>
        <td>
            <a href="https://m.xsbuy.cn/modules/views/HTML/goods/goodsDetails.html?goods_id=106&mine=mine">
                <img src="/img/tercentenary/1_39.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>

    <!-- 返回顶部 -->
    <tr>
        <td colspan="2">
            <a href="#">
                <img src="/img/tercentenary/1_40.jpg" width="100%"  border="0" alt=""></a></td>
    </tr>
</table>
<!-- End Save for Web Slices -->
</body>
<script type="text/javascript" src="/assets/jquery-1.8.3.js"></script>
<script type="text/javascript" src="/assets/hybrid_app.js"></script>
<script type="text/javascript" src="/assets/common.js"></script>
<script type="text/javascript" src="/assets/b64_hmac_sha1.js"></script>
<script type="text/javascript" src="/assets/ajax.js"></script>
<script>
    $(function () {
        var back = document.getElementById("backapp");
        back.onclick = function () {
            window.location.href='/#/home';
        };
    })
</script>
</html>