@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot?9z5o4d');
    src:    url('/fonts/icomoon.eot?9z5o4d#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?9z5o4d') format('truetype'),
        url('/fonts/icomoon.woff?9z5o4d') format('woff'),
        url('/fonts/icomoon.svg?9z5o4d#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "PingFangSC-Regular","微软雅黑","Microsoft Yahei","STHeitiSC-Light","Helvetica-Light","黑体",arial,sans-serif,"Droid Sans Fallback",'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-coupon:before {
    content: "\e95e";
}
.icon-sidebar_icon_shoppingcart:before {
    content: "\e935";
}
.icon-icon_delete2:before {
    content: "\e95d";
}
.icon-icon_share:before {
    content: "\e95c";
}
.icon-icon_logistics:before {
    content: "\e95a";
}
.icon-icon_right2:before {
    content: "\e95b";
}
.icon-baby:before {
    content: "\c91d";
}
.icon-done:before {
    content: "\e876";
}
.icon-icon_car:before {
    content: "\e900";
}
.icon-icon_fuwu:before {
    content: "\e901";
}
.icon-icon_kefu:before {
    content: "\e902";
}
.icon-icon_note:before {
    content: "\e903";
}
.icon-icon_notice:before {
    content: "\e904";
}
.icon-icon_package:before {
    content: "\e905";
}
.icon-icon_refund:before {
    content: "\e906";
}
.icon-icon_xiaoxi:before {
    content: "\e907";
}
.icon-bannericon_shandian:before {
    content: "\e908";
}
.icon-bannericon_zhengpin:before {
    content: "\e909";
}
.icon-banner_icon_dijia:before {
    content: "\e90a";
}
.icon-banner_icon_shouhuo:before {
    content: "\e90b";
}
.icon-icon_delete:before {
    content: "\e90c";
}
.icon-icon_Info:before {
    content: "\e90d";
}
.icon-icon_information:before {
    content: "\e90e";
}
.icon-icon_reload:before {
    content: "\e90f";
}
.icon-progressicon_aircraft:before {
    content: "\e910";
}
.icon-progressicon_apply:before {
    content: "\e911";
}
.icon-progressicon_comment:before {
    content: "\e912";
}
.icon-progressicon_defeated:before {
    content: "\e913";
}
.icon-progressicon_goods:before {
    content: "\e914";
}
.icon-progressicon_manage:before {
    content: "\e915";
}
.icon-progressicon_miajiatuihuo:before {
    content: "\e916";
}
.icon-progressicon_pay:before {
    content: "\e917";
}
.icon-progressicon_present:before {
    content: "\e918";
}
.icon-progressicon_succeed:before {
    content: "\e919";
}
.icon-zoom-in:before {
    content: "\e91a";
}
.icon-star-empty:before {
    content: "\e91b";
}
.icon-star-full:before {
    content: "\e91c";
}
.icon-zoom-out:before {
    content: "\e91d";
}
.icon-check-alt:before {
    content: "\e91e";
}
.icon-arrow-long-down:before {
    content: "\e91f";
}
.icon-arrow-long-left:before {
    content: "\e920";
}
.icon-arrow-long-right:before {
    content: "\e921";
}
.icon-play:before {
    content: "\e922";
}
.icon-search:before {
    content: "\e923";
}
.icon-notification:before {
    content: "\e924";
}
.icon-plus:before {
    content: "\e925";
}
.icon-minus:before {
    content: "\e926";
}
.icon-cross:before {
    content: "\e927";
}
.icon-checkmark:before {
    content: "\e928";
}
.icon-play3:before {
    content: "\e929";
}
.icon-checkbox-checked:before {
    content: "\e92a";
}
.icon-checkbox-unchecked:before {
    content: "\e92b";
}
.icon-radio-checked:before {
    content: "\e92c";
}
.icon-radio-unchecked:before {
    content: "\e92d";
}
.icon-icon_baby:before {
    content: "\e92e";
}
.icon-icon_beauty:before {
    content: "\e92f";
}
.icon-icon_clothes:before {
    content: "\e930";
}
.icon-icon_food:before {
    content: "\e931";
}
.icon-icon_health:before {
    content: "\e932";
}
.icon-icon_life:before {
    content: "\e933";
}
.icon-icon_person:before {
    content: "\e934";
}
.icon-icon_top:before {
    content: "\e936";
}
.icon-arrow-long-up:before {
    content: "\e937";
}
.icon-chevron-thin-down:before {
    content: "\e938";
}
.icon-chevron-thin-left:before {
    content: "\e939";
}
.icon-chevron-thin-right:before {
    content: "\e93a";
}
.icon-chevron-thin-up:before {
    content: "\e93b";
}
.icon-controller-record:before {
    content: "\e93c";
}
.icon-clock:before {
    content: "\e93d";
}
.icon-clock2:before {
    content: "\e93e";
}
.icon-alarm:before {
    content: "\e93f";
}
.icon-line:before {
    content: "\e940";
}
.icon-icon_close:before {
    content: "\e941";
}
.icon-toast_triangle:before {
    content: "\e942";
}
.icon-icon_fahuo:before {
    content: "\e943";
}
.icon-icon_fukuan:before {
    content: "\e944";
}
.icon-icon_clock:before {
    content: "\e945";
}
.icon-icon_pingjia:before {
    content: "\e946";
}
.icon-icon_right:before {
    content: "\e947";
}
.icon-icon_warn:before {
    content: "\e948";
}
.icon-icon_shouhuo:before {
    content: "\e949";
}
.icon-icon_warn2:before {
    content: "\e94a";
}
.icon-icon_Info2:before {
    content: "\e94b";
}
.icon-icon_miaosha:before {
    content: "\e94c";
}
.icon-line2:before {
    content: "\e94d";
}
.icon-gotop:before {
    content: "\e94e";
}
.icon-heart:before {
    content: "\e94f";
}
.icon-invalid:before {
    content: "\e950";
}
.icon-user:before {
    content: "\e951";
}
.icon-star-empty2:before {
    content: "\e957";
}
.icon-icon_house:before {
    content: "\e958";
}
.icon-icon_order:before {
    content: "\e959";
}
.icon-triangle-left:before {
    content: "\f044";
}
.icon-triangle-right:before {
    content: "\f05a";
}
.icon-triangle-down:before {
    content: "\f05b";
}
.icon-chevron-right:before {
    content: "\f078";
}
.icon-chevron-up:before {
    content: "\f0a2";
}
.icon-chevron-down:before {
    content: "\f0a3";
}
.icon-chevron-left:before {
    content: "\f0a4";
}
.icon-triangle-up:before {
    content: "\f0aa";
}
.icon-choose:before {
    content: "\e952";
}
.icon-deal:before {
    content: "\e953";
}
.icon-pay:before {
    content: "\e954";
}
.icon-phone:before {
    content: "\e955";
}
.icon-place:before {
    content: "\e956";
}

